body {
    font-family: Arial, Helvetica, sans-serif;
}

#GameDir {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
}

#GameDir div {
    position: relative;
}

#Inventory {
    width: 300px;
    height: 540px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(9, 60px);
    text-align: center;
}

#Inventory div {
    border: 0.5px solid black;
}

#InfoMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    background: sandybrown;
    text-align: center;
    z-index: 2;
}

.wall {
    background: #000;
    color: aqua;
}

#Player, .monster, .chest {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    z-index: 1;
}

#Player {
    background: url('PlayerSprite.png');
    background-size: 40px 120px;
    filter: hue-rotate(180deg) saturate(1000%);
    transform: scaleX(-1);
    image-rendering: pixelated;
}

#PlayerPreview {
    background: url('PlayerSprite.png');
    background-size: 250px 660px;
    filter: hue-rotate(180deg) saturate(1000%);
    transform: scaleX(-1);
    image-rendering: pixelated;
}

#EnemyPreview {
    background: url('EnemySprite.png');
    background-size: 250px 220px;
    filter: hue-rotate(90deg) saturate(1000%);
    image-rendering: pixelated;
}

#SlashAnimation {
    position: absolute;
    width: 250px;
    background: url('Slash.png');
    background-repeat: no-repeat !important;
    background-size: 2250px 250px !important;
    background-position: -2500px 0;
    filter: hue-rotate(270deg);
}

#Preview {
    width: 300px;
    height: 300px;
    background: url('armor-sheet.png');
    background-size: 1500px 1500px;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
}

.chest {
    background: aqua;
}

.monster {
    background: greenyellow;
}

.door {
    background: #ffae00;
}

.FullSlot {
    background: url('armor-sheet.png');
    background-size: 300px 300px;
    image-rendering: pixelated;
}

li {
    margin-bottom: 10px;
}

#Equiped {
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.items {
    width: 80px;
    height: 80px;
    background: url('armor-sheet.png') no-repeat;
    background-size: 400px 400px;
    background-position: -400px -400px;
    image-rendering: pixelated;
    border: 1px solid black;
}

#FightScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.InfoBoxes {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    position: relative;
}

#FightScreen > div > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin-top: 12px;
}

#EnemyHealthBar, #PlayerHealthBar {
    width: 280px;
    height: 75px !important;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background: green;
}

.button {
    position: absolute; 
    top: -10px; 
    right: 0; 
    width: 60px; 
    height: 60px !important; 
    border: 1px solid black;
    text-align: center;
}

#StandOf {
    padding: 0;
    width: 100% !important;
    height: 250px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#StandOf div {
    width: 250px;
    height: 220px !important;
}

#PotionCount {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid black;
    background-image: url('potions.png');
    background-size: 80px 80px;
    image-rendering: pixelated;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(0, 117, 78);
}

#EnemyAttack {
    position: absolute;
    width: 100%;
    height: 300px;
    border: 1px solid rebeccapurple;
    margin-top: 50%;
    transform: translate(0, -50%);
    background: #fff;
    z-index: 2;
    text-align: center;
}

#EnemyAttack form {
    margin-top: 10px;
}

#SnippedContainer {
    width: 500px; 
    height: 175px !important; 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto;
}

#SnippedContainer pre {
    text-align: left;
}