#GameDir {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(15, auto);
}

.wall {
    background: #000;
    color: aqua;
}