#GameDir {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
}

#GameDir div {
    position: relative;
}

#Inventory {
    width: 300px;
    height: 540px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(9, 60px);
    text-align: center;
}

#Inventory div {
    border: 0.5px solid black;
}

.wall {
    background: #000;
    color: aqua;
}

#Player, .monster, .chest {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    background: red;
}

.chest {
    background: aqua;
}

.monster {
    background: greenyellow;
}

.door {
    background: #ffae00;
}